@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Mobile header */
.topnav #myLinks{
    display: none;
    overflow: hidden;
}
/* End of Mobile header */
header {
    display: flex;
    position: fixed;
    right: 0.020%;
    top: -0.1%;
    width: 95.45%;
    background-color: #5B9676;
    border: 5px solid #236154;
    padding: 2%;
    z-index: 1;
    font-family: 'Inter', sans-serif;
}

.logo {
    position: absolute;
    width: 6.5%;
    height: auto;
    top: 1%;
    right: 45%;
}

.bag,
.search {
    width: 25px;
    height: 25px;
}

/* .bag {
    position: absolute;
    right: 14%;
    top: 32%;
} */

.bag-link {
    position: absolute;
    right: 14%;
    top: 32%;
}

#cartItemCount::before {
    content: " (";
}

#cartItemCount::after {
    content: ")";
}

.search {
    position: absolute;
    right: 19%;
    top: 32%;
}

.menu {
    position: relative;
    left: 1.5%;

}

.menu,
.deals {
    /* justify-content: space-between; */
    border: none;
    background-color: #5B9676;
    font-family: 'Inter', sans-serif;
}

.deals {
    position: absolute;
    left: 13%;
    top: 40%;
}

.order {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E61E28;
    position: absolute;
    /* transform: translateX(90rem); */
    right: 5%;
    top: 36%;
}

/* styles for button and links */
button:hover {
    text-decoration: underline red;
}

.order:hover {
    text-decoration: underline black;
}

a {
    text-decoration: none;
    color: black;
}

button:active {
    background-color: #236154;
}

a:active {
    background-color: #236154;
}

a:hover {
    text-decoration: underline red;
}

/* End of header */

/* Start of Footer CSS*/

.Social_Media img {
    max-width: 75px;
}

footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #5B9676;
    border-style: solid;
    border-width: 10px;
    border-color: #236154;
}

footer>section {
    width: 25%;
}

footer>section>p {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.title {
    font-size: 30px;
}

.vl {
    border-left: 6px solid black;
    height: 300px;
}

/* Start of mobile css */

@media only screen and (max-width: 640px) {

    /* start of header */
    .topnav{
        /* overflow: hidden; */
        background-color: #333;
        position: relative;
    }

    .fa{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .topnav a {
        /* color: white; */
        /* padding: 14px 16px; */
        text-decoration: none;
        /* font-size: 17px; */
        display: block;
    }

    /* .topnav a.icon {
        position: absolute;
        display: block;
        left: 5%;
        top: 1%;
        background-image: url(../images/icon\ _menu.svg);
        width: 65px;
        height: 65px;
    } */

    header {
        display: flex;
        position: fixed;
        /* right: 0.020%; */
        right: 0%;
        top: -0.1%;
        width: 95.45%;
        height: 5%;
        background-color: #5B9676;
        border: 5px solid #236154;
        padding: 2%;
        z-index: 1;
        font-family: 'Inter', sans-serif;
    }

    .logo {
        position: absolute;
        width: 19%;
        height: auto;
        top: 1%;
        right: 40%;
    }

    .mobile-menu{
        position: absolute;
        left: 5%;
        top: 1%;
        /* background-image: url(../images/icon\ _menu.svg); */
        width: 65px;
        height: 65px;
    }

    #cartItemCount{
        display: none;
    }

    #cartItemCount::before {
        content: " (";
        display: none;
    }
    
    #cartItemCount::after {
        content: ")";
        display: none;
    }

    .bag,
    .search {
        width: 0px;
        height: 0px;
        display: none;
    }

    .search {
        position: absolute;
        right: 30%;
        top: 32%;
    }

    .bag-link {
        position: absolute;
        right: 25%;
        top: 32%;
    }

    .menu{
        display: none;
    }

    .deals {
        position: absolute;
        left: 13%;
        top: 28%;
        display: none;
    }
    /* end of header */
}

/* End of Footer CSS*/

/* Start of Header HTML */

/* <header>
    <button class="menu"><a href="restaurants.html">Menu</a></button>
    <button class="deals"><a href="exclusive_deals.html">Deals</a></button>
    <a href="home.HTML"><img class="logo" src="../images/DinoBites-Logo.png" alt="DinoBites Express logo"></a>
    <abbr title="search"><img class="search" src="../images/search-icon.png" alt="Search Icon" /></abbr>
    <abbr title="shopping bag"><a href="cart.html"><img class="bag" src="../images/bag-icon.png"
            alt="Shopping Bag Icon" /></a></abbr>
    <button class="order">Start Order</button>
</header> */

/* Start of Footer HTML */

/* <footer>
    <section class="Social_Media">
        <p class="title">Connect</p>
        <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png" alt="Instagram"></a>
        <a href="https://twitter.com/?lang=en" target="_blank"><img src="../images/twitter.png" alt="Twitter"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.svg" alt="Facebook"></a>
    </section>

    <div class="vl" alt="Vertical Line"></div>


    <section>
        <p class="title">Get Involved</p>
        <p><a href="" target="_blank">Careers</a></p>
        <p><a href="" target="_blank">Franchise</a></p>
        <p><a href="" target="_blank">Community</a></p>
    </section>


    <div class="vl" alt="Vertical Line"></div>

    <section>
        <p class="title">Food Info</p>
        <p><a href="" target="_blank">Nutrition & Allergen</a></p>
        <p><a href="" target="_blank">Sodium Guide</a></p>
    </section>


    <div class="vl" alt="Vertical Line"></div>


    <section>
        <p class="title">Learn More</p>
        <p><a href="" target="_blank">FAQ & Contact</a></p>
        <p><a href="" target="_blank">Press</a></p>
        <p><a href="" target="_blank">Corporate</a></p>
    </section>
</footer> */

/* End of Footer html */